<div class="footer">
   
    <div class="main-footer-div">
        <div class="footer-social-icons">
            
            <div>
                <input type="text" placeholder="Send a message ...."><img src="send.svg" class="send-icon">
                 </div>
            <div>
            </div>
            <div>
            </div>
           
           
        <div><img class="keralaLogo" src="tourismLogo.png"  alt="Payment methods"></div>
                </div> 
        <div class="footer-copyright">          
            
            <div>© 2024-2025 Tourism.com</div>
           
        </div>
    </div>
</div>
