.nav-bar{
    height: 100px;
    background: linear-gradient(144deg, #6cd6aa, #3eccd3 50%, #5f8ccf);
    
 }
 
 h3{
     cursor: pointer;
 }
 
 h3:hover{
     color: red;
 }
 .keralaLogo{
   
    width: 120px;
    height: 80px;
}