<app-nav-bar></app-nav-bar>
<div class="body">
    <div class="login-container">
        <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <h2>Sign Up</h2>
            <div class="login-field">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="login-input" required>
                <div *ngIf="signUpForm.get('username')?.hasError('required')" class="validate">
                    *Name is required.
                  </div>
                  <div *ngIf="signUpForm.get('username')?.hasError('minlength')" class="validate">
                    *Name must be at least 4 characters long.
                  </div>
            </div>
            <div class="login-field">
                <label for="email">E-mail</label>
                <input type="text" id="email" formControlName="email" class="login-input" required>
                <div *ngIf="signUpForm.get('email')?.hasError('required')" class="validate">
                    *E-mail  is required.
                  </div>
                  
            </div>
            <div class="login-field">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="login-input" required>
                <div *ngIf="signUpForm.get('password')?.hasError('required')" class="validate">
                   *Password  is required.
                  </div>
                <div *ngIf="signUpForm.get('password')?.hasError('minlength')" class="validate">
                   
                   *Password must be at least 4 characters long.
                  </div>
            </div>
            <button type="submit" class="login-button">Submit</button>
        </form>
    </div>
</div>
<app-footer></app-footer>